In [1]:
from pydataset import data

# Hello Jemison

## This is markdown

## Why is Markdown useful?
- shorthand for HTML
- write markdown cells above our python code

In [2]:
greeting = "Hi, Everybody!"
print(greeting)

Hi, Everybody!

In [3]:
3 * 5

15

In [4]:
True

True

In [5]:
False

False

In [6]:
type(True)

bool

In [7]:
type("True")

str

In [8]:
None

In [9]:
# the return value of print is always none
x = print("$10000000000")
type(x)

$10000000000

NoneType

In [10]:
x = 2 + 2
x

4

In [11]:
type(type)

type

In [12]:
# Parentheses run a function
type("stuff")

str

In [13]:
type

type

In [14]:
# Parentheses mean we're running a function
print

In [15]:
# integer Literal 
4

4

In [16]:
# String literal
"some string"

'some string'

In [17]:
x = "another string"
x

'another string'

In [18]:
# List listeral
beatles = ["John", "Paul", "George", "Ringo"]
beatles

['John', 'Paul', 'George', 'Ringo']

## Variables
- What's the big idea?
- Naming things is powerful
- Variables point to values and can be re-pointed to other values (reassigned)

In [19]:
# What kind of "spells" can you do with variables?
# "Assignment" 
# Assigning the variable x to point to the value 5
favorite_number = 5
favorite_number

5

In [20]:
# Assignment
name = "Bob"
name

'Bob'

In [21]:
# Re-assign a variable
# Point the variable to a new value of some kind
name = "Batman"
name

'Batman'

In [22]:
# A real world example of reassigning a variable

# scenario: you go to lunch
# when you walk in the door, what's your total bill?
total = 0

# when you order iced tea, our total will now include iced tea
# new_value = old_value + something
total = total + 1.99

# order an appetizer
total = total + 5.99
total

7.98

In [23]:
# shorthand for reassigning a variable to its old value
# your friend joins you at lunch and they order iced tea
total += 1.99 # += is short for total = total + 1.99
total

9.97

In [24]:
## Booleans (True/False)
total < 20

True

In [25]:
# Comparison operators:
# compare values on the left and right and return a bool
2 == 3

False

In [26]:
3 == 3

True

In [27]:
2 < favorite_number

True

In [28]:
2 > favorite_number

False

In [29]:
2 >= favorite_number

False

In [30]:
# != is not equal to
# ain't
2 != 3

True

In [31]:
not True

False

In [32]:
not not not False

True

In [33]:
# in operator checks membership of the value on the left
# in the collection on the right
# collection could be a string, list, tuple, ...
2 in [1, 2, 3, 4]

True

In [34]:
3 not in [5, 6, 7]

True

In [35]:
"a" in "banana"

True

In [38]:
x = print("Bob")
type(x)

Bob

NoneType

## Logical Operators
- not: switches the boolean value of a value
- and: making sure both pieces are true
- or: making sure at least one pieces is true

In [39]:
doing_python_right_now = True
currently_on_mars = False

In [40]:
# ANDs are limiting
doing_python_right_now and currently_on_mars

False

In [42]:
# ORs expland our possibilities
doing_python_right_now or currently_on_mars

True

In [ ]:
# When we combine and, or, not,  (but == and not)
# We want to use parentheses to enforce execution order

In [46]:
# A user can edit a post if they are logged in and either the admin or the author of that post
is_logged_in = False
is_admin = True
is_author = True

can_edit_post = is_logged_in and (is_admin or is_author)
can_edit_post

False

In [ ]:
# Mathematical operators
# +, -, *, /, **

In [47]:
2**3 # two raised to the 3rd power

8

In [48]:
12 / 3

4.0

In [49]:
4 == 4.0

True

In [50]:
4 == 4.00000000000000000000000000000000000000000000000001

True

In [51]:
4 == 4.0000001

False

In [52]:
# MODULO OPERATOR == remainder operator
# 5 % 2 should read as "five divided by two leaves what value?"
5 % 2

1

In [ ]:
# first_number % second_number == no remainder means
# the first number is evenly divisible by the second number
4 % 2 == 0

In [53]:
3 / 2

1.5

In [54]:
## // quotient
# two goes into 3 one full time
3 // 2

1

In [56]:
# 3 divided by two leaves 1 as the remainder
3 % 2

1

In [57]:
3.33 // 2

1.0

In [58]:
3 * 5

15

In [59]:
3.1 * 5

15.5

## Strings
- letters or numbers contained in double or single quotes
- if we start a string with double quotes, we need to end w/ double
- if we start w/ single quotes, we end with single quotes
- If we need a string that contains characters including `"` or `'`, we use 3 quotation marks

In [60]:
message = "It's been great to program Python with y'all"
message

"It's been great to program Python with y'all"

In [62]:
quote = """
'"You miss 100% of the shots you don't take" - Wayne Gretsky' - Michael Scott
"""

quote

'\n\'"You miss 100% of the shots you don\'t take" - Wayne Gretsky\' - Michael Scott\n'

In [63]:
print(quote)

'"You miss 100% of the shots you don't take" - Wayne Gretsky' - Michael Scott

In [ ]:
# Backslash is an escape character
# What is "escaping" mean? Escaping means avoiding the default behavior

In [64]:
# Use case for triple quotes as a docstring 
def is_even(n):
    """returns a boolean if the input is an even number"""
    return n % 2 == 0

In [65]:
is_even?

In [66]:
len?

In [67]:
len("hello")

5

In [68]:
print?

## String methods and indexing

## Lists and list operations

## Tuples are lists that don't change